@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: #201f2d;    
}


h1, button, p, li, a {
    color: #fff;
    list-style: none;
    text-decoration: none;
}

.logo {
    font-size: 20px;
    font-weight: 700;
}

nav {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__links {
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.nav__link {
    display: flex;
    margin: 0 20px;
}

header {
    height: calc(100vh - 100px);
}


.header__container {
    display: flex;
    width: 100%;
    height: calc(70vh - 80px);
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-around;
}

/* 
#landing {
    height: 350vh;
} */

.about__description--wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.about__title {
    font-size: 56px;
    font-weight: 700;
}

.about__sub-title {
    font-size: 18px;
    margin: 20px 0;
    width: 70%;
}


.btn {
    width: 50%;
    height: 50px;
    padding: 8px 16px;
    color: #fff;
    border-radius: 50px;
    margin: 20px 10px;
    font-size: 16px;
}

.about__btn--wrapper {
    display: flex;
    width: 80%;
    transform: translateX(-2%);
}

#btn__news {
    border: 2px solid #494571;
    background-color: #201f2d;
}

#btn__charts {
    border: none;
    background-color: #f9a826;
    
}
.about__img--wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.about__img {
    width: 100%;
    height: 100%;
    /* transform: translateY(50%); */

}

.featured__container {
    width: 100%;
    height: 200px;
    max-width: 900px;
    margin: 0 auto;
}

.featured__title {
    color: #fff;
    margin: 10px 0 15px 0;
}

.featured__brands {
    width: 100%;
    padding: 10px; 
    display: flex; 
    background-color: rgba(63, 61, 86, 0.2);
    border-radius: 12px;
}

.brands {
    filter: grayscale(100%) invert();
    width: calc(100%/4);
    opacity: 0.5;
}

/*  

    CHARTS SECTION

*/

#charts {
}

.container {
    padding: 56px 0;
    width: 100%;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.charting__containers--wrapper {
    height: 80vh;
    display: flex;
    gap: 10px;
}


.chart__container {
    width: 70%;
    height: 90%;
}

.coin__description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.coin__name {

}

#coin__price {


}

.selection {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #494571;
    border-radius: 5px;
    background-color: #201f2d;
    width: 120px;
    margin: 10px 0;
    color: #fff;
}

#coin__chart {
    height: 100%;
    width: 100%;
    border: 1px solid #494571;
}

.about__chart--container {
    width: 50%;
    height: 100%;
    border: 1px solid #494571;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.info__data--line {
    display: flex;
    font-style: 28px;
}

.info{
    
}


.data{

}